# Setup

In [1]:
%%capture
%%bash
python ./generate_data.py
python ./run_ddl.py

Run Python code as shown below

In [2]:
a = 10

Run SQL code as shown below, with the `%%sql` called magics

In [3]:
%%sql
SELECT
  1

25/11/17 03:21:48 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+---+
| 1 |
+---+
| 1 |
+---+

We use the `prod.db` schema where all our tables are create by `run_ddl.py`

In [4]:
%%sql --show
use prod.db

++
||
++
++

In [6]:
%%sql 
WITH
  orders_cte AS (
    SELECT
      o_orderkey,
      o_custkey,
      o_orderstatus,
      CAST(o_orderdate AS TIMESTAMP) AS o_orderdate,
      o_orderpriority,
      o_clerk,
      o_shippriority,
      o_comment,
      o_totalprice
    FROM
      orders
  ),
  stg_customers AS (
    SELECT
      c_custkey,
      c_name,
      c_address,
      c_nationkey,
      c_phone,
      c_acctbal,
      c_mktsegment,
      c_comment
    FROM
      customer
  ),
  nation_cte AS (
    SELECT
      CAST(n_nationkey AS INT) AS n_nationkey,
      CAST(n_name AS STRING) AS n_name,
      CAST(n_regionkey AS INT) AS n_regionkey,
      CAST(n_comment AS STRING) AS n_comment
    FROM
      nation
  ),
  dim_customers AS (
    SELECT
      c.c_custkey,
      c.c_name,
      c.c_address,
      c.c_nationkey,
      n.n_name AS nation_name,
      c.c_phone,
      c.c_acctbal,
      c.c_mktsegment,
      c.c_comment
    FROM
      stg_customers c
      INNER JOIN nation_cte n ON c.c_nationkey = n.n_nationkey
  )
SELECT
  o.o_orderkey,
  o.o_custkey,
  o.o_orderstatus,
  o.o_orderdate,
  o.o_orderpriority,
  o.o_clerk,
  o.o_shippriority,
  o.o_totalprice,
  c.c_name AS customer_name,
  c.c_address AS customer_address,
  c.c_phone AS customer_phone,
  c.c_acctbal AS customer_account_balance,
  c.c_mktsegment AS customer_market_segment,
  c.nation_name AS customer_nation_name
FROM
  orders_cte o
  INNER JOIN dim_customers c ON o.o_custkey = c.c_custkey;

+------------+-----------+---------------+---------------------+-----------------+-----------------+----------------+--------------+--------------------+------------------------------------------+-----------------+--------------------------+-------------------------+----------------------+
| o_orderkey | o_custkey | o_orderstatus |         o_orderdate | o_orderpriority |         o_clerk | o_shippriority | o_totalprice |      customer_name |                         customer_address |  customer_phone | customer_account_balance | customer_market_segment | customer_nation_name |
+------------+-----------+---------------+---------------------+-----------------+-----------------+----------------+--------------+--------------------+------------------------------------------+-----------------+--------------------------+-------------------------+----------------------+
|        897 |      4894 |             P | 1995-03-20 00:00:00 |        1-URGENT | Clerk#000000316 |              0 |     66775.72 | Customer#000004894 |          qccDi3BeqTSkIJKsp21j4KBsQpPk0Gt | 30-152-685-8820 |                  7927.44 |               HOUSEHOLD |         SAUDI ARABIA |
|       4034 |      9233 |             F | 1993-11-14 00:00:00 | 4-NOT SPECIFIED | Clerk#000000548 |              0 |    307637.71 | Customer#000009233 |                1Ba3hAO5jmBFJpKq2QIdZlb3Z | 33-327-912-9200 |                  4227.72 |               FURNITURE |       UNITED KINGDOM |
|       4769 |     12044 |             P | 1995-04-14 00:00:00 | 4-NOT SPECIFIED | Clerk#000000116 |              0 |    206126.35 | Customer#000012044 |                             u9bevlA h3PS | 10-488-427-2414 |                  4825.26 |               MACHINERY |              ALGERIA |
|       5123 |       964 |             O | 1998-02-10 00:00:00 |        1-URGENT | Clerk#000000776 |              0 |     18908.75 | Customer#000000964 |          2DpdvfAw4TuXl8DV,YVBwGsK7oLzkYr | 22-974-772-2802 |                  4756.58 |               FURNITURE |                JAPAN |
|       6695 |      1697 |             F | 1992-06-28 00:00:00 |           5-LOW | Clerk#000000877 |              0 |    322140.76 | Customer#000001697 |                    8aHZSJIoZKtIfcD8IFMCu | 34-288-313-5272 |                  -913.24 |               FURNITURE |        UNITED STATES |
|       6821 |     12568 |             O | 1997-10-02 00:00:00 |          2-HIGH | Clerk#000000256 |              0 |     70652.83 | Customer#000012568 |      4sXc57EIjaq27SZOVapVbyq2D9c76iVS7a3 | 12-653-119-1864 |                  4980.83 |               FURNITURE |               BRAZIL |
|      11143 |       964 |             F | 1992-11-27 00:00:00 |           5-LOW | Clerk#000000613 |              0 |    129516.39 | Customer#000000964 |          2DpdvfAw4TuXl8DV,YVBwGsK7oLzkYr | 22-974-772-2802 |                  4756.58 |               FURNITURE |                JAPAN |
|      12961 |     11434 |             F | 1994-12-13 00:00:00 |          2-HIGH | Clerk#000000913 |              0 |    156148.09 | Customer#000011434 |                   6IuGcZvmcJzMBDIYWuu2gl | 20-123-656-9998 |                  8580.24 |              AUTOMOBILE |                 IRAN |
|      13728 |        26 |             O | 1995-12-11 00:00:00 |          2-HIGH | Clerk#000000094 |              0 |    122064.03 | Customer#000000026 |                          TFH OW1MeFU6OIb | 32-363-455-4837 |                  5182.05 |              AUTOMOBILE |               RUSSIA |
|      15651 |     14846 |             F | 1992-10-05 00:00:00 |        1-URGENT | Clerk#000000592 |              0 |     96790.11 | Customer#000014846 |                           MJmSOptlNEaAsx | 15-972-996-4702 |                  9021.18 |               HOUSEHOLD |             ETHIOPIA |
|      16644 |      8075 |             O | 1998-06-03 00:00:00 |          2-HIGH | Clerk#000000109 |              0 |     98736.15 | Customer#000008075 |                   u 7MeAwVV4Eu1rbqTlxA84 | 18-637-597-6271 |                  7132.46 |              AUTOMOBILE |                INDIA |
|      19108 |      7279 |             O | 1995-10-25 00:00:00 |        1-URGENT | Clerk#000000360 |              0 |    154589.46 | Customer#000007279 |               mSohNRsMoPokfyl7qN inaCMVU | 13-769-459-3960 |                  2603.61 |              AUTOMOBILE |               CANADA |
|      19653 |      7225 |             F | 1992-09-12 00:00:00 | 4-NOT SPECIFIED | Clerk#000000737 |              0 |    206908.00 | Customer#000007225 |                   02Nwa zGNBxi9c7aFvr6AT | 14-713-359-5982 |                  5837.09 |               FURNITURE |                EGYPT |
|      20071 |      4894 |             O | 1995-09-18 00:00:00 |        3-MEDIUM | Clerk#000000301 |              0 |    195942.86 | Customer#000004894 |          qccDi3BeqTSkIJKsp21j4KBsQpPk0Gt | 30-152-685-8820 |                  7927.44 |               HOUSEHOLD |         SAUDI ARABIA |
|      22593 |       964 |             O | 1998-05-24 00:00:00 |          2-HIGH | Clerk#000000842 |              0 |    163687.20 | Customer#000000964 |          2DpdvfAw4TuXl8DV,YVBwGsK7oLzkYr | 22-974-772-2802 |                  4756.58 |               FURNITURE |                JAPAN |
|      22725 |     11276 |             O | 1996-10-14 00:00:00 |           5-LOW | Clerk#000000514 |              0 |    285576.21 | Customer#000011276 |            HObHz2MOgDPmiamtyCqCyZ95,8k6, | 17-347-542-9870 |                  4441.73 |               HOUSEHOLD |              GERMANY |
|      23458 |      8440 |             F | 1994-01-18 00:00:00 |        3-MEDIUM | Clerk#000000908 |              0 |     35153.77 | Customer#000008440 |          gN8x7uq6afGujqAgZuMucuLXkic8tvO | 29-952-904-5152 |                  -524.44 |               HOUSEHOLD |              ROMANIA |
|      23750 |     11434 |             F | 1992-08-18 00:00:00 |          2-HIGH | Clerk#000000213 |              0 |     66890.68 | Customer#000011434 |                   6IuGcZvmcJzMBDIYWuu2gl | 20-123-656-9998 |                  8580.24 |              AUTOMOBILE |                 IRAN |
|      24581 |     11434 |             F | 1993-04-10 00:00:00 |          2-HIGH | Clerk#000000803 |              0 |    104826.28 | Customer#000011434 |                   6IuGcZvmcJzMBDIYWuu2gl | 20-123-656-9998 |                  8580.24 |              AUTOMOBILE |                 IRAN |
|      24614 |      7225 |             F | 1994-11-22 00:00:00 |           5-LOW | Clerk#000000256 |              0 |     19945.07 | Customer#000007225 |                   02Nwa zGNBxi9c7aFvr6AT | 14-713-359-5982 |                  5837.09 |               FURNITURE |                EGYPT |
|      25159 |       964 |             O | 1996-03-27 00:00:00 |        3-MEDIUM | Clerk#000000304 |              0 |    143611.10 | Customer#000000964 |          2DpdvfAw4TuXl8DV,YVBwGsK7oLzkYr | 22-974-772-2802 |                  4756.58 |               FURNITURE |                JAPAN |
|      25255 |      4894 |             F | 1992-02-21 00:00:00 |        1-URGENT | Clerk#000000356 |              0 |    135923.32 | Customer#000004894 |          qccDi3BeqTSkIJKsp21j4KBsQpPk0Gt | 30-152-685-8820 |                  7927.44 |               HOUSEHOLD |         SAUDI ARABIA |
|      25639 |     12568 |             F | 1994-10-12 00:00:00 |        3-MEDIUM | Clerk#000000951 |              0 |     89625.34 | Customer#000012568 |      4sXc57EIjaq27SZOVapVbyq2D9c76iVS7a3 | 12-653-119-1864 |                  4980.83 |               FURNITURE |               BRAZIL |
|      26432 |     11434 |             F | 1994-12-31 00:00:00 |           5-LOW | Clerk#000000709 |              0 |    143174.77 | Customer#000011434 |                   6IuGcZvmcJzMBDIYWuu2gl | 20-123-656-9998 |                  8580.24 |              AUTOMOBILE |                 IRAN |
|      26849 |      8440 |             O | 1998-04-13 00:00:00 |          2-HIGH | Clerk#000000740 |              0 |    121797.98 | Customer#000008440 |          gN8x7uq6afGujqAgZuMucuLXkic8tvO | 29-952-904-5152 |                  -524.44 |               HOUSEHOLD |              ROMANIA |
|      29318 |      3764 |             O | 1995-07-01 00:00:00 | 4-NOT SPECIFIED | Clerk#000000155 |              0 |    177706.50 | Customer#000003764 |             Rl1DQe9jTwi2tGwkb5mOxqvEGYHK | 16-680-282-4336 |                   564.83 |               FURNITURE |               FRANCE |
|      32421 |      2453 |             O | 1995-12-19 00:00:00 | 4-NOT SPECIFIED | Clerk#000000548 |              0 |    123319.93 | Customer#000002453 |       A0d9yBVjSuug1ffQoejMKJtCKDtvL 52wm | 24-594-585-1289 |                  9322.71 |               FURNITURE |                KENYA |
|      32487 |     11945 |             O | 1996-03-26 00:00:00 |        1-URGENT | Clerk#000000338 |              0 |    174354.60 | Customer#000011945 |   RhyUJ8sYo728AJGWuxnl672qkxylw0sctTGpFL | 18-240-187-8306 |                   623.09 |               HOUSEHOLD |                INDIA |
|      33382 |     14846 |             O | 1997-05-07 00:00:00 |          2-HIGH | Clerk#000000280 |              0 |     66207.61 | Customer#000014846 |                           MJmSOptlNEaAsx | 15-972-996-4702 |                  9021.18 |               HOUSEHOLD |             ETHIOPIA |
|      34470 |      2453 |             F | 1992-02-02 00:00:00 |        1-URGENT | Clerk#000000361 |              0 |    158555.77 | Customer#000002453 |       A0d9yBVjSuug1ffQoejMKJtCKDtvL 52wm | 24-594-585-1289 |                  9322.71 |               FURNITURE |                KENYA |
|      35558 |      9968 |             F | 1994-09-16 00:00:00 |        1-URGENT | Clerk#000000572 |              0 |    157383.29 | Customer#000009968 |                            5By9zaOZruy5I | 29-422-256-8422 |                  -352.30 |              AUTOMOBILE |              ROMANIA |
|      36647 |      4823 |             F | 1994-07-01 00:00:00 |          2-HIGH | Clerk#000000975 |              0 |    200822.12 | Customer#000004823 | tkqauz9N50P9GPJLmvLakIfV3wF6OP8E6roZAqIQ | 33-942-726-1376 |                  6455.04 |                BUILDING |       UNITED KINGDOM |
|      37895 |      1697 |             F | 1992-03-31 00:00:00 |        1-URGENT | Clerk#000000159 |              0 |     82862.29 | Customer#000001697 |                    8aHZSJIoZKtIfcD8IFMCu | 34-288-313-5272 |                  -913.24 |               FURNITURE |        UNITED STATES |
|      38434 |      9715 |             F | 1994-05-10 00:00:00 |          2-HIGH | Clerk#000000319 |              0 |    136614.46 | Customer#000009715 | k nblDG1qsYiFKRv1pcuQMl,7,DiLaLhbKfQS VI | 11-497-432-5728 |                  9355.70 |                BUILDING |            ARGENTINA |
|      39783 |     14846 |             F | 1992-09-21 00:00:00 | 4-NOT SPECIFIED | Clerk#000000611 |              0 |    132549.77 | Customer#000014846 |                           MJmSOptlNEaAsx | 15-972-996-4702 |                  9021.18 |               HOUSEHOLD |             ETHIOPIA |
|      39941 |      9233 |             F | 1994-10-19 00:00:00 |        3-MEDIUM | Clerk#000000772 |              0 |      8649.89 | Customer#000009233 |                1Ba3hAO5jmBFJpKq2QIdZlb3Z | 33-327-912-9200 |                  4227.72 |               FURNITURE |       UNITED KINGDOM |
|      40837 |     11434 |             O | 1996-10-31 00:00:00 |        1-URGENT | Clerk#000000135 |              0 |    256405.74 | Customer#000011434 |                   6IuGcZvmcJzMBDIYWuu2gl | 20-123-656-9998 |                  8580.24 |              AUTOMOBILE |                 IRAN |
|      45857 |      7279 |             O | 1997-09-07 00:00:00 |           5-LOW | Clerk#000000456 |              0 |    103236.08 | Customer#000007279 |               mSohNRsMoPokfyl7qN inaCMVU | 13-769-459-3960 |                  2603.61 |              AUTOMOBILE |               CANADA |
|      47172 |      3091 |             F | 1993-12-03 00:00:00 |          2-HIGH | Clerk#000001000 |              0 |     84505.86 | Customer#000003091 |                     6aKsMqm7 MyGe634P9Uo | 12-848-402-5035 |                  2051.91 |              AUTOMOBILE |               BRAZIL |
|      47875 |      3506 |             F | 1992-08-05 00:00:00 |        3-MEDIUM | Clerk#000000006 |              0 |    196711.37 | Customer#000003506 |                     EORTrwgR0L0BDDJGEkXL | 31-490-106-2401 |                  4088.65 |               FURNITURE |              VIETNAM |
|      48417 |      3091 |             O | 1997-12-24 00:00:00 |        1-URGENT | Clerk#000000326 |              0 |      4970.85 | Customer#000003091 |                     6aKsMqm7 MyGe634P9Uo | 12-848-402-5035 |                  2051.91 |              AUTOMOBILE |               BRAZIL |
|      48738 |     11938 |             O | 1998-02-02 00:00:00 |          2-HIGH | Clerk#000000134 |              0 |     63346.20 | Customer#000011938 |           Sx8sx7SP3zwqSJ13dgqVF6kl4NbyiU | 11-885-561-3296 |                  2730.00 |               HOUSEHOLD |            ARGENTINA |
|      48963 |     14117 |             F | 1993-10-20 00:00:00 | 4-NOT SPECIFIED | Clerk#000000239 |              0 |    218990.63 | Customer#000014117 |                            WBnMPx,MJgKox | 11-117-744-7856 |                  8512.51 |               FURNITURE |            ARGENTINA |
|      50726 |      4894 |             O | 1995-11-01 00:00:00 |           5-LOW | Clerk#000000619 |              0 |    282669.94 | Customer#000004894 |          qccDi3BeqTSkIJKsp21j4KBsQpPk0Gt | 30-152-685-8820 |                  7927.44 |               HOUSEHOLD |         SAUDI ARABIA |
|      51078 |      7225 |             O | 1997-02-11 00:00:00 |          2-HIGH | Clerk#000000760 |              0 |    113771.76 | Customer#000007225 |                   02Nwa zGNBxi9c7aFvr6AT | 14-713-359-5982 |                  5837.09 |               FURNITURE |                EGYPT |
|      52835 |      8075 |             O | 1997-09-13 00:00:00 | 4-NOT SPECIFIED | Clerk#000000006 |              0 |    198152.60 | Customer#000008075 |                   u 7MeAwVV4Eu1rbqTlxA84 | 18-637-597-6271 |                  7132.46 |              AUTOMOBILE |                INDIA |
|      54722 |        26 |             F | 1993-01-08 00:00:00 |           5-LOW | Clerk#000000380 |              0 |    230433.91 | Customer#000000026 |                          TFH OW1MeFU6OIb | 32-363-455-4837 |                  5182.05 |              AUTOMOBILE |               RUSSIA |
|      56934 |     14846 |             O | 1997-10-22 00:00:00 | 4-NOT SPECIFIED | Clerk#000000522 |              0 |    149263.01 | Customer#000014846 |                           MJmSOptlNEaAsx | 15-972-996-4702 |                  9021.18 |               HOUSEHOLD |             ETHIOPIA |
|      57734 |     10156 |             F | 1994-09-17 00:00:00 |          2-HIGH | Clerk#000000235 |              0 |    241249.77 | Customer#000010156 |       29F6XQFI TnTblMe5,yNf7Qz1lSZgDI1SH | 16-186-469-2803 |                  9481.28 |               HOUSEHOLD |               FRANCE |
|      60551 |      2509 |             O | 1995-12-19 00:00:00 |          2-HIGH | Clerk#000000555 |              0 |    180052.45 | Customer#000002509 |                     jsNxW0,D5BsFWdjN98KK | 15-871-781-7491 |                  2170.92 |                BUILDING |             ETHIOPIA |
|      63591 |      7279 |             O | 1997-03-04 00:00:00 |        1-URGENT | Clerk#000000062 |              0 |    109690.20 | Customer#000007279 |               mSohNRsMoPokfyl7qN inaCMVU | 13-769-459-3960 |                  2603.61 |              AUTOMOBILE |               CANADA |
|      65318 |      4823 |             O | 1998-06-08 00:00:00 | 4-NOT SPECIFIED | Clerk#000000542 |              0 |    119172.40 | Customer#000004823 | tkqauz9N50P9GPJLmvLakIfV3wF6OP8E6roZAqIQ | 33-942-726-1376 |                  6455.04 |                BUILDING |       UNITED KINGDOM |
|      65890 |     11945 |             F | 1992-11-08 00:00:00 |           5-LOW | Clerk#000000602 |              0 |     33232.43 | Customer#000011945 |   RhyUJ8sYo728AJGWuxnl672qkxylw0sctTGpFL | 18-240-187-8306 |                   623.09 |               HOUSEHOLD |                INDIA |
|      69125 |      1697 |             F | 1995-02-07 00:00:00 | 4-NOT SPECIFIED | Clerk#000000392 |              0 |     13855.61 | Customer#000001697 |                    8aHZSJIoZKtIfcD8IFMCu | 34-288-313-5272 |                  -913.24 |               FURNITURE |        UNITED STATES |
|      69537 |     10156 |             F | 1994-11-19 00:00:00 |        1-URGENT | Clerk#000000916 |              0 |    177180.99 | Customer#000010156 |       29F6XQFI TnTblMe5,yNf7Qz1lSZgDI1SH | 16-186-469-2803 |                  9481.28 |               HOUSEHOLD |               FRANCE |
|      70402 |     11434 |             F | 1992-03-29 00:00:00 |        1-URGENT | Clerk#000000231 |              0 |    181073.13 | Customer#000011434 |                   6IuGcZvmcJzMBDIYWuu2gl | 20-123-656-9998 |                  8580.24 |              AUTOMOBILE |                 IRAN |
|      70823 |     14117 |             F | 1993-11-22 00:00:00 | 4-NOT SPECIFIED | Clerk#000000372 |              0 |    147500.83 | Customer#000014117 |                            WBnMPx,MJgKox | 11-117-744-7856 |                  8512.51 |               FURNITURE |            ARGENTINA |
|      71110 |      9715 |             F | 1994-08-02 00:00:00 |        1-URGENT | Clerk#000000582 |              0 |     23090.26 | Customer#000009715 | k nblDG1qsYiFKRv1pcuQMl,7,DiLaLhbKfQS VI | 11-497-432-5728 |                  9355.70 |                BUILDING |            ARGENTINA |
|      71458 |      7747 |             O | 1995-07-22 00:00:00 |          2-HIGH | Clerk#000000648 |              0 |    193393.78 | Customer#000007747 |                            TqdTiaifcCvgF | 11-694-881-1181 |                  2529.29 |                BUILDING |            ARGENTINA |
|      76419 |      7279 |             O | 1997-08-27 00:00:00 |        3-MEDIUM | Clerk#000000207 |              0 |    137808.27 | Customer#000007279 |               mSohNRsMoPokfyl7qN inaCMVU | 13-769-459-3960 |                  2603.61 |              AUTOMOBILE |               CANADA |
|      77959 |      7279 |             O | 1996-07-12 00:00:00 |           5-LOW | Clerk#000000877 |              0 |    239652.63 | Customer#000007279 |               mSohNRsMoPokfyl7qN inaCMVU | 13-769-459-3960 |                  2603.61 |              AUTOMOBILE |               CANADA |
|      78241 |     14719 |             O | 1997-09-18 00:00:00 | 4-NOT SPECIFIED | Clerk#000000648 |              0 |     91537.25 | Customer#000014719 |                  ZmnH7S6jFja1M,8zWBxx7Ew | 13-820-591-8031 |                  4431.67 |              AUTOMOBILE |               CANADA |
|      79680 |      7225 |             F | 1995-01-23 00:00:00 | 4-NOT SPECIFIED | Clerk#000000572 |              0 |    194622.79 | Customer#000007225 |                   02Nwa zGNBxi9c7aFvr6AT | 14-713-359-5982 |                  5837.09 |               FURNITURE |                EGYPT |
|      80998 |     11938 |             F | 1994-06-23 00:00:00 |           5-LOW | Clerk#000000613 |              0 |    228222.40 | Customer#000011938 |           Sx8sx7SP3zwqSJ13dgqVF6kl4NbyiU | 11-885-561-3296 |                  2730.00 |               HOUSEHOLD |            ARGENTINA |
|      81287 |       964 |             O | 1998-03-12 00:00:00 | 4-NOT SPECIFIED | Clerk#000000077 |              0 |     50195.93 | Customer#000000964 |          2DpdvfAw4TuXl8DV,YVBwGsK7oLzkYr | 22-974-772-2802 |                  4756.58 |               FURNITURE |                JAPAN |

## Your code below

#### 1.2: Catelog -> Schema -> Tables

In [10]:
%%sql
show catalogs;

+---------------+
|       catalog |
+---------------+
|          demo |
| spark_catalog |
+---------------+

In [8]:
%%sql
show schemas IN demo;

+-----------+
| namespace |
+-----------+
|      prod |
+-----------+

In [9]:
%%sql
show schemas IN prod;

+-----------+
| namespace |
+-----------+
|   prod.db |
+-----------+

In [11]:
%%sql
show tables IN prod.db;

+-----------+-----------+-------------+
| namespace | tableName | isTemporary |
+-----------+-----------+-------------+
|   prod.db |  customer |       False |
|   prod.db |  lineitem |       False |
|   prod.db |    nation |       False |
|   prod.db |    orders |       False |
|   prod.db |      part |       False |
|   prod.db |  partsupp |       False |
|   prod.db |    region |       False |
|   prod.db |  supplier |       False |
+-----------+-----------+-------------+

In [14]:
%%sql
SELECT
  *
FROM
  prod.db.customer
LIMIT
  1;

+-----------+--------------------+-------------------+-------------+-----------------+-----------+--------------+----------------------------------------------------------------+
| c_custkey |             c_name |         c_address | c_nationkey |         c_phone | c_acctbal | c_mktsegment |                                                      c_comment |
+-----------+--------------------+-------------------+-------------+-----------------+-----------+--------------+----------------------------------------------------------------+
|         1 | Customer#000000001 | j5JsirBM9PsCy0O1m |          15 | 25-989-741-2988 |    711.56 |     BUILDING | y final requests wake slyly quickly special accounts. blithely |
+-----------+--------------------+-------------------+-------------+-----------------+-----------+--------------+----------------------------------------------------------------+

In [15]:
%%sql
use prod.db;

++
||
++
++

In [16]:
%%sql
DESCRIBE lineitem;

+-----------------+---------------+---------+
|        col_name |     data_type | comment |
+-----------------+---------------+---------+
|      l_orderkey |        bigint |    None |
|       l_partkey |        bigint |    None |
|       l_suppkey |        bigint |    None |
|    l_linenumber |           int |    None |
|      l_quantity | decimal(15,2) |    None |
| l_extendedprice | decimal(15,2) |    None |
|      l_discount | decimal(15,2) |    None |
|           l_tax | decimal(15,2) |    None |
|    l_returnflag |        string |    None |
|    l_linestatus |        string |    None |
|      l_shipdate |          date |    None |
|    l_commitdate |          date |    None |
|   l_receiptdate |          date |    None |
|  l_shipinstruct |        string |    None |
|      l_shipmode |        string |    None |
|       l_comment |        string |    None |
+-----------------+---------------+---------+

In [18]:
%%sql
DESCRIBE extended lineitem

+------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+
|                     col_name |                                                                                                              data_type | comment |
+------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+
|                   l_orderkey |                                                                                                                 bigint |    None |
|                    l_partkey |                                                                                                                 bigint |    None |
|                    l_suppkey |                                                                                                                 bigint |    None |
|                 l_linenumber |                                                                                                                    int |    None |
|                   l_quantity |                                                                                                          decimal(15,2) |    None |
|              l_extendedprice |                                                                                                          decimal(15,2) |    None |
|                   l_discount |                                                                                                          decimal(15,2) |    None |
|                        l_tax |                                                                                                          decimal(15,2) |    None |
|                 l_returnflag |                                                                                                                 string |    None |
|                 l_linestatus |                                                                                                                 string |    None |
|                   l_shipdate |                                                                                                                   date |    None |
|                 l_commitdate |                                                                                                                   date |    None |
|                l_receiptdate |                                                                                                                   date |    None |
|               l_shipinstruct |                                                                                                                 string |    None |
|                   l_shipmode |                                                                                                                 string |    None |
|                    l_comment |                                                                                                                 string |    None |
|                              |                                                                                                                        |         |
|           # Metadata Columns |                                                                                                                        |         |
|                     _spec_id |                                                                                                                    int |         |
|                   _partition |                                                                                                               struct<> |         |
|                        _file |                                                                                                                 string |         |
|                         _pos |                                                                                                                 bigint |         |
|                     _deleted |                                                                                                                boolean |         |
|                              |                                                                                                                        |         |
| # Detailed Table Information |                                                                                                                        |         |
|                         Name |                                                                                                  demo.prod.db.lineitem |         |
|                         Type |                                                                                                                MANAGED |         |
|                     Location |                                                                                        s3://warehouse/prod/db/lineitem |         |
|                     Provider |                                                                                                                iceberg |         |
|                        Owner |                                                                                                                   root |         |
|             Table Properties | [current-snapshot-id=5263440380362570889,format=iceberg/parquet,format-version=2,write.parquet.compression-codec=zstd] |         |
+------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+

#### 1.12: Exercises

Write a query that shows the number of items returned for each region name

In [74]:
%%sql
SELECT
  r.r_name AS region,
  SUM(l_quantity) AS number_of_items_returned
FROM
  lineitem l
  JOIN orders o ON l.l_orderkey = o.o_orderkey
  JOIN customer c ON o.o_custkey = c.c_custkey
  JOIN nation n ON c.c_nationkey = n.n_nationkey
  JOIN region r ON n.n_regionkey = r.r_regionkey
WHERE
  l.l_returnflag = 'R'
GROUP BY
  r.r_name
ORDER BY
  number_of_items_returned desc

+-------------+--------------------------+
|      region | number_of_items_returned |
+-------------+--------------------------+
| MIDDLE EAST |                779389.00 |
|        ASIA |                759966.00 |
|      AFRICA |                755167.00 |
|     AMERICA |                746152.00 |
|      EUROPE |                744849.00 |
+-------------+--------------------------+

List the top 10 most selling parts (part name)

In [75]:
%%sql
desc lineitem

+-----------------+---------------+---------+
|        col_name |     data_type | comment |
+-----------------+---------------+---------+
|      l_orderkey |        bigint |    None |
|       l_partkey |        bigint |    None |
|       l_suppkey |        bigint |    None |
|    l_linenumber |           int |    None |
|      l_quantity | decimal(15,2) |    None |
| l_extendedprice | decimal(15,2) |    None |
|      l_discount | decimal(15,2) |    None |
|           l_tax | decimal(15,2) |    None |
|    l_returnflag |        string |    None |
|    l_linestatus |        string |    None |
|      l_shipdate |          date |    None |
|    l_commitdate |          date |    None |
|   l_receiptdate |          date |    None |
|  l_shipinstruct |        string |    None |
|      l_shipmode |        string |    None |
|       l_comment |        string |    None |
+-----------------+---------------+---------+

In [81]:
%%sql
SELECT
  p_name AS part_name,
  SUM(l_quantity) AS total_parts_sold
FROM
  lineitem AS l
  JOIN part AS p ON l.l_partkey = p.p_partkey
GROUP BY
  p_name
ORDER BY
  total_parts_sold desc
LIMIT
  10;

+---------------------------------------+------------------+
|                             part_name | total_parts_sold |
+---------------------------------------+------------------+
|        snow blanched blush linen blue |          1484.00 |
|     moccasin brown puff thistle steel |          1465.00 |
|   floral azure papaya moccasin indian |          1427.00 |
| blanched white ghost frosted metallic |          1420.00 |
|        hot blue honeydew salmon slate |          1413.00 |
|       lavender green brown linen dark |          1412.00 |
|   frosted chocolate spring peach lawn |          1398.00 |
|  hot blanched magenta yellow metallic |          1389.00 |
|         orange white medium plum drab |          1385.00 |
|             brown hot olive tan black |          1382.00 |
+---------------------------------------+------------------+

Sellers (name) who have sold at least one of the top 10 selling parts

In [87]:
%%sql
SELECT
  s.s_name,
  COUNT(DISTINCT top10.p_partkey) AS cnt
FROM
  lineitem l
  JOIN partsupp ps ON l.l_partkey = ps.ps_partkey
  JOIN supplier s ON ps.ps_suppkey = s.s_suppkey
  JOIN (
    SELECT
      p.p_partkey,
      p_name AS part_name,
      SUM(l_quantity) AS total_parts_sold
    FROM
      lineitem AS l
      JOIN part AS p ON l.l_partkey = p.p_partkey
    GROUP BY
      p.p_partkey,
      p_name
    ORDER BY
      total_parts_sold desc
    LIMIT
      10
  ) AS top10 ON l.l_partkey = top10.p_partkey
GROUP BY
  s.s_name
ORDER BY
  cnt desc;

+--------------------+-----+
|             s_name | cnt |
+--------------------+-----+
| Supplier#000000881 |   2 |
| Supplier#000000414 |   1 |
| Supplier#000000782 |   1 |
| Supplier#000000553 |   1 |
| Supplier#000000296 |   1 |
| Supplier#000000150 |   1 |
| Supplier#000000585 |   1 |
| Supplier#000000401 |   1 |
| Supplier#000000115 |   1 |
| Supplier#000000071 |   1 |
| Supplier#000000053 |   1 |
| Supplier#000000329 |   1 |
| Supplier#000000651 |   1 |
| Supplier#000000039 |   1 |
| Supplier#000000419 |   1 |
| Supplier#000000909 |   1 |
| Supplier#000000948 |   1 |
| Supplier#000000681 |   1 |
| Supplier#000000393 |   1 |
| Supplier#000000802 |   1 |
| Supplier#000000380 |   1 |
| Supplier#000000621 |   1 |
| Supplier#000000612 |   1 |
| Supplier#000000718 |   1 |
| Supplier#000000850 |   1 |
| Supplier#000000555 |   1 |
| Supplier#000000304 |   1 |
| Supplier#000000813 |   1 |
| Supplier#000000983 |   1 |
| Supplier#000000135 |   1 |
| Supplier#000000196 |   1 |
| Supplier#000000215 |   1 |
| Supplier#000000551 |   1 |
| Supplier#000000141 |   1 |
| Supplier#000000714 |   1 |
| Supplier#000000248 |   1 |
| Supplier#000000513 |   1 |
| Supplier#000000973 |   1 |
| Supplier#000000455 |   1 |
+--------------------+-----+

Number of items returned for each order price bucket. The definition of order price bucket is shown below.

CASE
    WHEN o_totalprice > 100000 THEN 'high'
    WHEN o_totalprice BETWEEN 25000 AND 100000 THEN 'medium'
    ELSE 'low'
END AS order_price_bucket

In [92]:
%%sql
SELECT
    CASE
        WHEN o_totalprice > 100000 THEN 'high'
        WHEN o_totalprice BETWEEN 25000 AND 100000 THEN 'medium'
    ELSE 'low' END AS order_price_bucket,
    sum(l_quantity) AS num_items
FROM lineitem l
JOIN orders o ON l.l_orderkey = o.o_orderkey
GROUP BY (CASE
    WHEN o_totalprice > 100000 THEN 'high'
    WHEN o_totalprice BETWEEN 25000 AND 100000 THEN 'medium'
    ELSE 'low' END)
ORDER BY num_items;

+--------------------+-------------+
| order_price_bucket |   num_items |
+--------------------+-------------+
|                low |    97201.00 |
|             medium |  2097181.00 |
|               high | 13140420.00 |
+--------------------+-------------+

Average time (in days) between receiptdate and shipdate for each nation (name)

In [96]:
%%sql
SELECT
  n.n_name,
  AVG(datediff (l.l_shipdate, o.o_orderdate)) AS avg_num_days
FROM
  lineitem l
  JOIN orders o ON l.l_orderkey = o.o_orderkey
  JOIN customer c ON o.o_custkey = c.c_custkey
  JOIN nation n ON c.c_nationkey = n.n_nationkey
GROUP BY
  n.n_name
ORDER BY
  avg_num_days desc

+----------------+--------------------+
|         n_name |       avg_num_days |
+----------------+--------------------+
|        VIETNAM | 61.482896880090216 |
|         BRAZIL |  61.44483882950183 |
|        MOROCCO |  61.43037974683544 |
|        GERMANY |  61.28609891475437 |
|         JORDAN | 61.260820093556404 |
|         FRANCE | 61.147413643464674 |
|      INDONESIA |  61.14344278145183 |
|  UNITED STATES | 61.130691220774814 |
|        ALGERIA |  61.11941950036175 |
|     MOZAMBIQUE | 61.108193583288255 |
|           IRAN | 61.060449310930714 |
|          KENYA |  61.04471599909482 |
|        ROMANIA |  61.00089256734827 |
|         RUSSIA |  60.95883246161633 |
|           PERU |  60.95728744036738 |
|      ARGENTINA |  60.91204052583103 |
|          INDIA | 60.896544201064664 |
|           IRAQ | 60.874435080004886 |
|         CANADA |  60.86962322121604 |
|          EGYPT |  60.86214953271028 |
| UNITED KINGDOM |  60.85031646896089 |
|       ETHIOPIA |  60.81991458399241 |
|          CHINA | 60.762951334379906 |
|          JAPAN | 60.742945896971264 |
|   SAUDI ARABIA |  60.64674083009427 |
+----------------+--------------------+

#### 2.4: Exercises

Sellers (name) who have sold at least one of the top 10 selling parts (use CTE)

In [98]:
%%sql
WITH
  top10 AS (
    SELECT
      p.p_partkey,
      p_name AS part_name,
      SUM(l_quantity) AS total_parts_sold
    FROM
      lineitem AS l
      JOIN part AS p ON l.l_partkey = p.p_partkey
    GROUP BY
      p.p_partkey,
      p_name
    ORDER BY
      total_parts_sold desc
    LIMIT
      10
  )
SELECT
  s.s_name,
  COUNT(DISTINCT top10.p_partkey) AS cnt
FROM
  lineitem l
  JOIN partsupp ps ON l.l_partkey = ps.ps_partkey
  JOIN supplier s ON ps.ps_suppkey = s.s_suppkey
  JOIN top10 ON l.l_partkey = top10.p_partkey
GROUP BY
  s.s_name
ORDER BY
  cnt desc;

+--------------------+-----+
|             s_name | cnt |
+--------------------+-----+
| Supplier#000000881 |   2 |
| Supplier#000000414 |   1 |
| Supplier#000000782 |   1 |
| Supplier#000000553 |   1 |
| Supplier#000000296 |   1 |
| Supplier#000000150 |   1 |
| Supplier#000000585 |   1 |
| Supplier#000000401 |   1 |
| Supplier#000000115 |   1 |
| Supplier#000000071 |   1 |
| Supplier#000000053 |   1 |
| Supplier#000000329 |   1 |
| Supplier#000000651 |   1 |
| Supplier#000000039 |   1 |
| Supplier#000000419 |   1 |
| Supplier#000000909 |   1 |
| Supplier#000000948 |   1 |
| Supplier#000000681 |   1 |
| Supplier#000000393 |   1 |
| Supplier#000000802 |   1 |
| Supplier#000000380 |   1 |
| Supplier#000000621 |   1 |
| Supplier#000000612 |   1 |
| Supplier#000000718 |   1 |
| Supplier#000000850 |   1 |
| Supplier#000000555 |   1 |
| Supplier#000000304 |   1 |
| Supplier#000000813 |   1 |
| Supplier#000000983 |   1 |
| Supplier#000000135 |   1 |
| Supplier#000000196 |   1 |
| Supplier#000000215 |   1 |
| Supplier#000000551 |   1 |
| Supplier#000000141 |   1 |
| Supplier#000000714 |   1 |
| Supplier#000000248 |   1 |
| Supplier#000000513 |   1 |
| Supplier#000000973 |   1 |
| Supplier#000000455 |   1 |
+--------------------+-----+